<div class="tabs-wrapper">
  <div class="tab" routerLink="/notes" routerLinkActive="active">
    <i class="material-icons-outlined">edit_note</i>
  </div>
  <div class="tab" routerLink="/todo" routerLinkActive="active">
    <i class="material-icons-outlined">format_list_bulleted</i>
  </div>
  <div class="tab" routerLink="/bookmarks" routerLinkActive="active">
    <i class="material-icons-outlined">bookmark_added</i>
  </div>
  <div class="tab" routerLink="/account" routerLinkActive="active">
    <i class="material-icons-outlined">person</i>
  </div>
</div>
