.todo-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  justify-content: space-between;
  color: black;
  input {
    width: auto;
  }
  .remove {
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
ul {
  padding: 0;
  margin-top: 50px;
}
