<div class="add-wrapper">
  <h2>Add todo</h2>
  <form class="form" [formGroup]="form" (ngSubmit)="add(title.value);">
    <input #title type="text" formControlName="title" required placeholder="Add new todo" (keydown.enter)="add(title.value);">
    <div class="btns">
      <button [disabled]="form.invalid" type="submit" class="btn btn-primary fw-bold">Add</button>
      <!-- <button routerLink="/todo" class="btn btn-dark">Cancel</button> -->
    </div>

  

  <ul >
    <li *ngFor="let todo of todos$ | async" class="todo-item">
      <div>
        <input type="checkbox" formControlName="checkbox">
        <span>{{todo.title}}</span>
      </div>

      <div class="remove" (click)="delete(todo.id)">x</div>
    </li>
  </ul>
</form>
</div>

