.todo-list {
}
.list {

		&__item {
      display: flex;
      align-items: center;
		}

		&__checkbox {
		}

		&__remove {
		}
}

.page {

  &__todo {
  }
}
.todo {

  &__title {
    margin-bottom: 20px;
  }
}

.page__edit {
  margin-top: 50px;
}
