<div class="page__todo todo">
  <h2 class='todo__title'>Add todo</h2>
  <form class="form" [formGroup]="form" (ngSubmit)="add(title.value);">
    <mat-form-field appearance="legacy">
      <mat-label>Add new todo</mat-label>
      <input #title matInput formControlName="title" placeholder="Add new todo" autocomplete='off' required (keydown.enter)="add(title.value);">
    </mat-form-field>
    <div class="btns">
      <button type="submit" [disabled]="form.invalid" mat-flat-button color="primary">Primary</button>
      <!-- <button routerLink="/todo" class="btn btn-dark">Cancel</button> -->
    </div>

    <app-todos [todos]="todos$ | async" (delete)="delete($event)" (complete)="complete($event)" (edit)="editTodo($event)">
    </app-todos>

<!--  <ul class='todo-list list' *ngIf="todos$ | async as todos">-->
<!--    <mat-card *ngIf="todos.length > 0">-->
<!--      <li *ngFor="let todo of todos" class="list__item">-->
<!--      <div class='list__item-box' (click)="onSelectTodo(todo)">-->
<!--        <mat-checkbox class="list__checkbox" formControlName="checkbox"></mat-checkbox>-->
<!--        <ng-container *ngIf="selectedEdit !== todo.id; else editText">-->
<!--          <span>{{todo.title}}</span>-->
<!--        </ng-container>-->
<!--        <ng-template #editText>-->
<!--          <input formControlName="titleEdit" #titleEdit matInput  placeholder="Edit todo" (keydown.enter)="saveEditTodo(titleEdit.value, todo.id);">-->
<!--        </ng-template>-->
<!--      </div>-->

<!--      <div class='list__item-box'>-->
<!--        <button (click)="editTodo(todo.id)" mat-fab color="primary" aria-label="Example icon button with a delete icon" class='list__edit'>-->
<!--          <mat-icon>edit</mat-icon>-->
<!--        </button>-->

<!--        <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="delete(todo.id)" class='list__remove'>-->
<!--          <mat-icon>delete</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--      </li>-->
<!--    </mat-card>-->
<!--  </ul>-->

  </form>

</div>

