@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined|Material+Icons');
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

html, body {
  height: 100%;
}
@mixin glass {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tabs-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  gap: 15px;
  width: fit-content;
  margin: 0px auto;
  border-radius: 10px;
  @include glass;
  margin-bottom: 10px;
}
.tab {
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  @include glass;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover {
    transform: translateY(-7px);
    background: rgba( 187, 108, 191, 0.25 );
  }
  &.active {
    transform: translateY(-7px);
    background: rgba( 187, 108, 191, 0.25 );
  }
}

.material-icons-outlined{
  font-size: 40px;
}

.todo-item{
  @include glass;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .remove,
  .edit{
    cursor: pointer;
    line-height: 0;
    opacity: .6;
    transition: opacity .3s ease-in-out;
    &:hover {
      opacity: 1;
    }
    .material-icons-outlined{font-size: 24px;}
  }
  input {
    margin-right: 5px;
  }
}

.loader-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  top: 20%;
}
.loader {
  width:45px;
  height:45px;
  padding:0px;
  border-radius:100%;
  border:5px solid;
  border-top-color: $blue;
  border-bottom-color: $gray-500;
  border-left-color: $blue;
  border-right-color: $gray-500;
  -webkit-animation: loader4 1s ease-in-out infinite;
  animation: loader 1s ease-in-out infinite;
}
@keyframes loader {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes loader {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

.center {
  display: flex;
  margin: 0 auto;
}

.add-wrapper {
  @include glass;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  h2 {
    margin-bottom: 10px;
  }
  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    button {
      width: 100%;
    }
  }
  input {
    border-radius: 5px;
    border: 2px solid grey;
    width: 100%;
    padding: 5px 10px;
  }
}
